@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
.projects__title {
  margin: 10px 25px;
}

.projects__title > h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
}
.projects__title > h5 {
  margin: 0;
  color: rgb(4, 176, 102);
}

.projects__hoverCard.card {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
}

button.projects__hoverBtn.btn.btn-primary {
  position: absolute;
  text-align: center;
  top: 40%;
  padding: auto;
  opacity: 0;
}

.projects__hoverCard.card:hover > button.projects__hoverBtn.btn.btn-primary {
  background: black;
  opacity: 1;
}

button.projects__hoverBtn {
  background: black;
  border: none;
}
button.projects__hoverBtn:focus {
  outline: none !important;
  box-shadow: none !important;
}
button > h4 {
  color: white;
}

button.projects__hoverBtn:hover {
  border: none;
  color: white;
  border: none;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 999;
  font-family: "Playfair Display", serif;
}

.ReactModal__Content.ReactModal__Content--after-open {
  background-color: #1c1e1f !important;
  border: none !important;
  width: 50% !important;
}

button.closeModalBtn {
  background: transparent;
  border: none;
}

button.closeModalBtn:focus {
  outline: none;
  box-shadow: none;
}

.closeModalIcon {
  font-size: 40px !important;
  color: rgb(4, 176, 102) !important;
}

@media (max-width: 576px) {
  .projects__title > h1 {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 75% !important;
  }
}
