@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.profile {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}
.text-center.p-3.profile__card.card {
  margin-top: -65px;
  background: #1c1e1f;
}
.profile__title.card-title.h5 {
  background: rgb(4, 176, 102);
  font-weight: bold;
  letter-spacing: 1px;
}
.profile__imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.profile__title {
  background-color: lightgray;
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
}
.profile__card {
  border-radius: 0 0 10px 10px;
  background-color: rgb(86, 99, 100);
}

.profile__cardBody {
  background-color: lightgray;
}

.profile__icon {
  font-size: 40px !important;
  transition: transform 0.5s ease-in-out !important;
}
.profile__iconLocation {
  font-size: 15px !important;
  color: rgb(4, 176, 102);
}
.profile__iconPhone {
  font-size: 15px !important;
  color: rgb(4, 176, 102);
}

.profile__icon:hover {
  transform: scale(1.5);
}

.profile__iconFacebook {
  color: rgb(86, 99, 100);

  transition: 0.5s ease-in-out !important;
  opacity: 0.5;
}

.profile__iconFacebook:hover {
  color: rgb(4, 176, 102);
  opacity: 1;
}

.profile__iconLinkedIn {
  color: rgb(86, 99, 100);

  transition: 0.5s ease-in-out !important;
  opacity: 0.5;
}

.profile__iconLinkedIn:hover {
  color: rgb(4, 176, 102);
  opacity: 1;
}

.profile__iconGithub {
  color: rgb(86, 99, 100);
  transition: 0.5s ease-in-out !important;
}

.profile__iconGithub:hover {
  color: rgb(4, 176, 102);
}

button.btn,
button.btn::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button.btn {
  background: none;
  border: 1px solid rgb(4, 176, 102);
  border-radius: 5px;
  color: rgb(4, 176, 102) !important;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 50px;
  position: relative;
  z-index: 1;
}
button.btn:focus {
  outline: none;
  box-shadow: none;
}

button > span {
  color: rgb(86, 99, 100);
}

button.btn::before,
button.btn::after {
  background: rgb(4, 176, 102);
  content: "";
  position: absolute;
  z-index: -1;
}

button.btn:hover {
  color: rgb(86, 99, 100);
  border: 1px solid rgb(4, 176, 102);
}
button.btn:hover > span {
  color: white;
}

.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
}
