.navigation,
.navigation::after,
.navigation::before {
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0c1d;
  color: #effffa;
  height: 100vh;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

img {
  border-radius: 5px;
  height: auto;
  width: 10rem;
}

div {
  text-align: center;
}

small {
  display: block;
}

a {
  color: #343078;
  text-decoration: none;
}
