.resumeEducation__icon {
  font-size: 50px !important;
  color: rgb(4, 176, 102) !important;
  margin: 0 20px 0 0;
}

.resumeEducation {
  display: flex;
  align-items: center;
}

.resumeEducation > h1 {
  font-size: 40px;
  margin: 0;
}

.resume__knowledgeIcon {
  color: rgb(4, 176, 102) !important;
  font-size: 30px !important;
}

.educationDetails {
  font-size: 40px;
}
.educationDetails > li {
  list-style-type: none;
}
.educationDetails > li:nth-child(1) {
  color: rgb(4, 176, 102);
  font-weight: bold;
}
.educationDetails > li:nth-child(2) {
  color: rgb(86, 99, 100);
}
.educationDetails > li:nth-child(3) {
  color: rgb(86, 99, 100);
}
